@import '../../styles/app';

.text {
	margin: auto;
	width: 65%;
	padding-right: 10%;
}

.data {
	display: flex;
	flex-direction: column;
	width: 35%;
}

.review {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.date {
	float: right;
	font-size: 1rem;
}