@import '../../styles/app';

.main {
	display: flex;
	flex-wrap: wrap;
}

.flexElem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 50%;
}

.flexElem img {
	width: 60%;
}

.column img {
	width: 100%;
}

@media (max-width: 768px) {
	.flexElem {
		width: 100%;
	}
}